@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-text 5s linear infinite;
}

.hover\:animate-gradient:hover {
  background-size: 200% 200%;
  animation: gradient-text 5s linear infinite;
}
